.home-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}
.home-container div{
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 25px;
}
button {
   background-color: #45e01f;
   width: 140px;
}